@import './node_modules/font-awesome/scss/font-awesome.scss';

$primary: #1abc9c;
$white: #fff;
$grey: #ddd;

body {
    color: #525252;
    font-family: sans-serif;
    font-size: 14px;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
} 

.align-center {
    align-items: center;
}

.calender {
    width: 210px;
    border: 1px solid $primary;
    .header {
        padding: 5px;
    }

    .header {
        background-color: $primary;
        color: $white;
    }

    .day-strip {
        background-color: $grey;
        padding: 5px 0;
    }

    .r-cell {
        width: 30px;
        height: 30px;
        align-items: center;
        justify-content: center;
        &:hover {
            cursor: pointer;
        }
    }
    .r-row, .r-cell {
        display: flex;
    }

    .r-dates {
        .r-row {
            border-bottom: 1px solid #efefef;
            .r-cell {
                border-right: 1px solid #efefef;
                &:last-child {
                    border-right: none;
                }
                &.r-today {
                    background-color: $primary;
                    color: $white;
                }
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.event {
    margin: 5px 0; 
    .event-date {
        border: 1px solid #ccc;
        margin-right: 5px;
        p {
            margin: 0;
            padding: 5px;
            text-align: center;
            &:first-child {
                background-color: #ddd;
            }
        }
    }
}

